:root {
  --app-header-background: #3c2fad;
  --app-body-background: #eee3fc;
  --table-header-background: darkslategrey;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--app-body-background);
  display: flex;
  margin: 0;
  padding: 0;
  height: 100dvh;
}

#root {
  flex: 1;
}

.appHeader {
  background-color: var(--app-header-background);
  padding: 20px;
  text-align: left;

  h3 {
    color: white;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;

  a {
    text-decoration: none;
    color: var(--app-header-background);
    font-weight: bold;
    background-color: rgb(98, 42, 218);
    color: white;
    border-radius: 8px;
    padding: 24px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    font-size: x-large;
    margin: 200px auto;
    transition: transform 0.3s ease;

    &:hover {
      text-decoration: none;
      background-color: #312694;
      transform: scale(1.05);
    }
  }
}

.layout-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.input-container {
  margin: 12px;

  input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;

    &:focus {
      outline: none;
      border-color: var(--app-header-background);
      box-shadow: 0 0 5px rgba(120, 47, 173, 0.5);
    }
  }
}

.Mui-list-header {
  background-color: var(--table-header-background);
  color: white;
  font-weight: bold;
  padding: 8px;
}

.Mui-member-row {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  align-items: center;

  img {
    width: 80px;
    border-radius: 50%;
  }
}

.MuiCard-root {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  max-width: 500px;
  max-height: 600px;
  margin: 20px auto;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  width: 400px;

  a {
    text-decoration: none;
    color: var(--app-header-background);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.MuiCardMedia-root {
  width: 200px;
  height: 300px;
  object-fit: contain;
  border-radius: 4px 4px 0px 0px;
}
